@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/background-fluid/7549.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
